# AWS RDS PostgreSQL (will be created by SAM)
DATABASE_URL="postgresql://pokedex_admin:CHANGE_ME_IN_AWS_SECRETS@your-rds-endpoint.rds.amazonaws.com:5432/pokedex"

# JWT Secret (will be stored in AWS Secrets Manager)
JWT_SECRET="pokedex-jwt-secret-2025-change-in-production"

# PokeAPI
POKEAPI_BASE_URL="https://pokeapi.co/api/v2"

# Environment
NODE_ENV="production"

# SQS Queue URL (created by SAM template)
SQS_QUEUE_URL="https://sqs.af-south-1.amazonaws.com/YOUR_ACCOUNT_ID/pokemon-ingestion-dev"
